<!DOCTYPE html>
<html lang="en" dir="ltr">

  <%-include('../partials/head.ejs')%>

  <body>
    <div class="contianer">

      <nav class="navbar">

        <%-include('../partials/nav.ejs')%>

      </nav>

    </div>

  </body>
</html>
