<!DOCTYPE html>
<html lang="en" dir="ltr">

  <%-include('../partials/head.ejs')%>

  <body class="background">

    <div class="container">

      <nav>

        <%-include('../partials/nav.ejs')%>

      </nav>

      <a class="btn btn-secondary" href="/friends">BACK</a>

      <!-- on submit, form-data is appended inside the body of the HTTP request and the data is sent to /friends-->
      <form action="/friends" method="POST">

        <fieldset class="mt-5">

          <legend>New Friend</legend>

          <div class="row mb-4">
            <div class="col-6">
              <label class="form-label">Name</label>
              <input type="text" name="name" class="form-control">
            </div>
            <div class="col-6">
              <label class="form-label">Type of Animal</label>
              <input type="text" name="type" class="form-control" placeholder="ie Dog, Cat, Rabbit, etc.">
            </div>
          </div>

          <div class="row mt-4 mb-4">
            <div class="col">
              <label class="form-label">Age</label>
              <input type="text" name="age" class="form-control" placeholder="#">
            </div>
            <div class="col">
              <label class="form-label">Breed</label>
              <input type="text" name="breed" class="form-control">
            </div>
            <div class="col">
              <label class="form-label">Gender</label>
              <select class="form-select" name="gender">
                <option selected>Choose...</option>
                <option>Female</option>
                <option>Male</option>
              </select>
            </div>
          </div>

          <div class="row mt-4 mb-4">
            <div class="col">
              <label class="form-label">Image URL</label>
              <input type="text" name="img" class="form-control" placeholder="Valid URL">
            </div>
          </div>

          <div class="row mt-4 mb-4">
            <div class="col">
              <label class="form-label">Description</label>
              <textarea type="text" name="description" class="form-control" rows="3"></textarea>
            </div>
          </div>

          <div class="col-12 mb-4">
            <div class="form-check">
              <input class="form-check-input" name="available" type="checkbox" id="gridCheck">
              <label class="form-check-label">Is Friend Available?</label>
            </div>
          </div>

          <div class="buttons">
            <input class="btn btn-primary" type="submit" value="ADD FRIEND" />
          </div>

        </fieldset>

      </form>

    </div>

  </body>
</html>
