<!DOCTYPE html>
<html lang="en" dir="ltr">

  <%-include('../partials/head.ejs')%>

  <body>
    <div class="container">
      <div class="">

        <h2 id="welcomeH2">Hey</h2>
        <h1 id="welcomeH1">Hi</h1>
        <h4 id="welcomeH4">Hello</h4>

        <div class="row mb-3 mt-3">
          <div class="col-10">
            <a class="btn btn-primary" href="/users/new">Sign Up</a>
          </div>
        </div>

        <div class="row mb-3 mt-3">
          <div class="col-10">
            <a class="btn btn-primary" href="/sessions/new">Log In</a>
          </div>
        </div>

      </div>
    </div>
  </body>
</html>
