body {
  background-image: url(https://i.imgur.com/tJjyeq5.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Amaranth', sans-serif;
}

.background1 {
  background-image: url(https://i.imgur.com/yyH2ROo.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: right;
}

.background2 {
  background-image: url(https://i.imgur.com/gLRnO1t.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: right;
}


/* font-family: 'Charm', cursive;
font-family: 'Patrick Hand SC', cursive; */

/* NAV BAR */

.navbar {
  list-style: none;
  justify-content: space-around;
  border: 3px dashed darkgreen;
  border-top: none;
  padding: 0;
  background-color: rgba(255, 255, 255, .8);
}

.navImg {
  width: 100px;
}

.imgLi {
  width: auto;
}

ul, li, li>a {
  color: rgba(99, 185, 147, 1);
  font-size: 1.3em;
}

.nav-link {
  text-decoration: underline;
}

li>a:hover {
  color: darkgreen;
}


/* ABOUT PAGE */

.aboutH1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% 0 2% 0;
}

.aboutH1 > h1 {
  font-family: 'Patrick Hand SC', cursive;
  font-weight: bold;
  font-size: 5em;
  /* background-color: rgba(255, 255, 255); */
}

.aboutCardText {
  display: flex;
  align-items: center;
}

/* WELCOME PAGE */

.welcomeDiv {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 20% auto;
  max-width: 600px;
}

#welcomeH1 {
  font-size: 5em;
  font-family: 'Patrick Hand SC', cursive;
}

#welcomeH5 {
  font-size: 2.5em;
  font-family: 'Patrick Hand SC', cursive;
}

.welcomeBar {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 100%;
}

.login, .signup {
  font-size: 1.3em;
  padding-right: 30px;
  padding-left: 30px;
}

/* INDEX PAGE */

.indexDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* SHOW PAGE */

.showDiv {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}

.pictureDiv {
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  padding: 10px;
  background-color: rgba(255, 255, 255, .7);
  width: 50%;
  border: 3px solid black;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 3% 2%;
  text-align: center;
}

.showH1 {
  color: ghostwhite;
}

.showImg {
  width: 90%;
  border: 2px solid black;
  box-sizing: border-box;
  border-radius: 10px;
}

.descriptionDiv {
  display: flex;
  flex-flow: column;
  padding: 10px;
  background-color: rgba(147, 199, 170, .7);
  width: 50%;
  border: 3px solid black;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 3% 2%;
  color: black;
  line-height: 35px;
}

.showButton {
  font-size: 1.5rem;
}

.showLabel {
  font-size: 1.3rem;
}

.showText {
  font-size: 1.3rem;
}

.buttons2 {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 4% 0;
}

/* EDIT PAGE */

.buttons {
  display: flex;
}

.editLabel {
  font-size: 1.4em;
}

.buttons > input {
  font-size: 1.5em;
}

/* SESSION/USER/ADMIN*/

.newForm {
  display: flex;
  justify-content: center;
  margin: 14% auto;
}

.sessionFieldset, .userSignupFieldset, .adminSignupFieldset {
  width: 60%;
}

.sessionLabel, .userSignupLabel, .adminSignupLabel {
  padding: 5px;
  font-size: 1.5em;
}

.newLogin, .userSignup, .adminSignup {
  display: flex;
  justify-content: center;
}

.newLoginBtn, .userSignupBtn, .adminSignupBtn {
  font-size: 1.5em;
  padding: 5px 25px;
  margin-bottom: 2%;
}

/* FORMS */

.form-control {
  border: 2px solid black;
}

.form-select {
  border: 2px solid black;
}

.form-check-input:hover {
  cursor: pointer;
}

fieldset {
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  background-color: rgba(255, 255, 255, .7);
}

legend {
  float: none;
  padding: 0 20px;
  border: 2px solid black;
  background-color: rgba(99, 185, 147);
  color: ghostwhite;
  width: auto;
  font-size: 2em;
  text-align: right;
}

input {
  font-family: 'Kosugi', sans-serif;
}

select {
  font-family: 'Kosugi', sans-serif;
}

/* animations */

.text-pop-up {
	animation: text-pop-up 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes text-pop-up {
  0% {
    transform-origin: 50% 50%;
    text-shadow: none;
  }

  100% {
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
