<!DOCTYPE html>
<html lang="en" dir="ltr">

  <%-include('../partials/head.ejs')%>

  <body class="background2">
    
    <div class="container">

      <nav class="nav">

        <%-include('../partials/nav.ejs')%>

      </nav>

      <form class="newForm" action="/sessions" method="POST">

        <fieldset>

          <legend>Good to see you!</legend>

          <div class="row mt-4 mb-4">
            <label for="username">Username</label>
            <input class="col-6" type="text" name="username" required />
          </div>

          <div class="row row mt-4 mb-4">
            <label for="password">Password</label>
            <input class="col-6" type="password" name="password" />
          </div>

          <input class="btn btn-primary" type="submit" value="Login" />

        </fieldset>

      </form>

    </div>
  </body>
</html>
