<!DOCTYPE html>
<html lang="en" dir="ltr">

  <%-include('../partials/head.ejs')%>

  <body>

    <div class="container">

      <form class="newForm" action="/admins" method="POST" />

        <fieldset class="adminSignupFieldset">

          <legend>Welcome to the Team!</legend>

            <div class="row mb-4">
              <div class="col">
                <label class="adminSignupLabel" for="email">Email</label>
                <input class="form-control" type="email" name="email" required />
              </div>
            </div>

            <div class="row mt-4 mb-4">
              <div class="col">
                <label class="adminSignupLabel" for="username">Username</label>
                <input class="form-control" type="text" name="username" required />
                <small class="text-muted">username must be between 5 - 20 characters</small>
              </div>
            </div>

            <div class="row row mt-4 mb-4">
              <div class="col">
                <label class="adminSignupLabel" for="password">Password</label>
                <input class="form-control" type="password" name="password" required />
              </div>
            </div>

            <div class="adminSignup">
              <input class="btn btn-primary adminSignupBtn" type="submit" value="Register" />
            </div>

            <div class="backButton">
              <a class="btn btn-outline-secondary"href="/">Back</a>
            </div>

        </fieldset>

      </form>

    </div>

  </body>
</html>
