<!DOCTYPE html>
<html lang="en" dir="ltr">

  <%-include('../partials/head.ejs')%>

  <body class="background2">

    <div class="container">

      <form class="newForm needs-validation" action="/users" method="POST" novalidate />

        <fieldset class="userSignupFieldset">

          <legend>Welcome!</legend>

            <div class="row mb-4">
              <div class="col">
                <label class="userSignupLabel" for="email">Email</label>
                <input class="form-control" id="email" type="email" name="email" required />
                <div class="invalid-feedback">
                  Invalid Email Address
                </div>
              </div>
            </div>

            <div class="row mt-4 mb-4">
              <div class="col">
                <label class="userSignupLabel" for="username">Username</label>
                <input class="form-control" type="text" name="username" required />
                <small class="text-muted">username must be between 5-20 characters</small>
              </div>
            </div>

            <div class="row row mt-4 mb-4">
              <div class="col">
                <label class="userSignupLabel" for="password">Password</label>
                <input class="form-control" type="password" name="password" required />
              </div>
            </div>

            <div class="userSignup">
              <input class="btn btn-primary userSignupBtn" type="submit" value="Register" />
            </div>

            <div class="backButton">
              <a class="btn btn-outline-secondary"href="/">Back</a>
            </div>

        </fieldset>

      </form>

    </div>

  </body>
</html>
